1000 x 1500 px
     X
 600 x 800 px

la mía mide 1500x985

la imagen debe tener sitio para hacer respuestas del estilo (no pulses la bruja)

crear favicon

buscar imáganes:
- animated bat
- phantom
- zombie
- monster
- mummy

buscar free scary sound effects